.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100vh;
  }

df-messenger {
 --df-messenger-bot-message: #415E8B;
 --df-messenger-button-titlebar-color: #df9b56;
}
