.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
<!DOCTYPE html>
<html>
<head>
    <title>Como deixar uma imagem responsiva</title>
</head>
<body>
    <div id="container-da-imagem">
        <img src="img/GIF Zé Hulck.gif">
    </div>
    
    <img src="GIF Zé Hulck.gif">
</body>
</html>
#container-da-imagem {
    width: 300px;
    position: relative;
}

#container-da-imagem img {
    width: 100%
}

img {
    width: 100%
}
